.navigation {
  display: flex;
  width: 100%;
  align-items: center;
  padding-inline: 1rem;
  padding-top: 1rem;
}

@media (min-width: 768px) {
  .navigation {
    justify-content: center;
    padding: 0;
  }
}

.navigation-nav__container {
  position: absolute;
  background-color: rgb(0 0 0 / 0.7);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  /* transform: translateX(0); */
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.navigation-nav__container.close {
  transform: translateX(-100%);
  background-color: transparent;
}

@media (min-width: 768px) {
  .navigation-nav__container {
    position: static;
    transition: none;
  }
}

.toggle-nav {
  /* position: relative; */
  z-index: 10;
  border-bottom: 1px solid var(--light-gray);
  width: 85%;
}

@media (min-width: 768px) {
  .toggle-nav {
    display: none;
  }

  .navigation-nav__container.close {
    transform: none;
  }
  .navigation__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.user-actions {
  display: flex;
  gap: 2rem;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .user-actions {
    display: none;
  }
}
.search:hover {
  cursor: pointer;
}

.cart:hover {
  cursor: pointer;
}

.user-actions .burguer.close {
  display: none;
}

.x-close,
.burguer {
  font-size: 3.5rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.burguer.close {
  display: none;
}
.x-close.close {
  display: none;
}

.x-close:hover,
.burguer:hover {
  cursor: pointer;
}

.navigation__nav {
  background-color: var(--white);
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 85%;
  font-size: 2.5rem;
  padding-top: 7rem;
}

@media (min-width: 768px) {
  .navigation__nav {
    height: auto;
    padding: 0;
    padding-block: 2rem;
    flex-direction: row;
    width: 100%;
    gap: 6rem;
  }
}

.navigation__links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (min-width: 768px) {
  .navigation__links {
    flex-direction: row;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    gap: 4rem;
  }
}

.navigation__links a {
  border-bottom: 1px solid var(--light-gray);
}

.navigation__user-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.navigation__user-actions-laptop {
  display: none;
}
@media (min-width: 768px) {
  .navigation__user-actions {
    /* display: none; */
    box-shadow: none;
  }

  .login-mobile {
    display: none;
  }

  .navigation__user-actions-laptop {
    display: flex;
    gap: 2rem;
  }

  .navigation__user-actions-laptop svg:hover {
    cursor: pointer;
  }
}

.navigation__media {
  padding: 2.5rem 2rem 1rem 2rem;
}

@media (min-width: 768px) {
  .navigation__media {
    display: none;
  }
}
