.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    /* top: 0; */
    display: block;
    position: absolute;
    padding-left: 3rem;
    /* height: 10rem; */
    overflow: auto;
  }
}
