.slider-control {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}

.slider-control__btn {
  padding-inline: 2rem;
  height: 0.5rem;
  width: 6rem;
  display: inline-block;
  background-color: rgb(255 255 255 / 0.3);
}

.slider-control__btn.active {
  background-color: var(--white);
}
